<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{206,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,251}}</string>
                <key>sourceSize</key>
                <string>{206,251}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,251},{201,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,320}}</string>
                <key>sourceSize</key>
                <string>{201,320}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,251},{186,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,252}}</string>
                <key>sourceSize</key>
                <string>{186,252}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,406},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{247,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,479}}</string>
                <key>sourceSize</key>
                <string>{247,479}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,332},{141,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,110}}</string>
                <key>sourceSize</key>
                <string>{141,110}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,210},{190,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,236}}</string>
                <key>sourceSize</key>
                <string>{190,236}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{474,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,402}}</string>
                <key>sourceSize</key>
                <string>{474,402}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,184},{146,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,112}}</string>
                <key>sourceSize</key>
                <string>{146,112}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{135,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,180}}</string>
                <key>sourceSize</key>
                <string>{135,180}</string>
            </dict>
            <key>hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,458}}</string>
                <key>sourceSize</key>
                <string>{452,458}</string>
            </dict>
            <key>stock_draw_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,431},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{1849,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa1103143888158cd9f1a1f38f62a021:1/1$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
