<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,739},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>arrowBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1012},{35,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,8}}</string>
                <key>sourceSize</key>
                <string>{35,8}</string>
            </dict>
            <key>arrowBullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1012},{35,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,8}}</string>
                <key>sourceSize</key>
                <string>{35,8}</string>
            </dict>
            <key>arrowTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,927},{92,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,123}}</string>
                <key>sourceSize</key>
                <string>{92,123}</string>
            </dict>
            <key>baseplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,680},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,327},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>deceleratetower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,830},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>enemyLeft1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,609},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,873},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,734},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,873},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,609},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,734},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,774},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,734},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,734},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,877},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,327},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,877},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,464},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,480},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,317},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,480},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,887},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,470},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,188},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,470},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,339},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,188},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,186},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,188},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>explode1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,526},{70,82}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,166},{70,82}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,526},{122,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,91},{122,166}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,186},{192,302}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,186},{194,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,424},{100,188}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,77},{100,188}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,650},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,122},{82,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,913},{70,82}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,166},{70,82}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,256},{122,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,91},{122,166}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{192,302}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{194,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,794},{100,188}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,77},{100,188}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,775},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{82,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,829},{70,82}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,166},{70,82}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,256},{122,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,91},{122,166}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,490},{192,302}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{194,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,490},{100,188}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,77},{100,188}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,104},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,122},{82,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,988},{130,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,11}}</string>
                <key>sourceSize</key>
                <string>{130,11}</string>
            </dict>
            <key>hpBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{147,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,29}}</string>
                <key>sourceSize</key>
                <string>{147,29}</string>
            </dict>
            <key>mftower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,609},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,739},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>nomoney_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,605},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>playbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,879},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>playbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,799},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>playhp.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,490},{283,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{283,76}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>playstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,186},{225,68}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,15},{225,68}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,424},{56,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{56,55}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>starbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,924},{88,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>tool.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{1036,80}}</string>
                <key>offset</key>
                <string>{-62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{1036,80}}</string>
                <key>sourceSize</key>
                <string>{1200,100}</string>
            </dict>
            <key>toolbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,100}}</string>
                <key>sourceSize</key>
                <string>{1200,100}</string>
            </dict>
            <key>towerPos.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,705},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Play.png</string>
            <key>size</key>
            <string>{1265,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b749fc34da9ba40b84f947bf1e781eb6:1/1$</string>
            <key>textureFileName</key>
            <string>Play.png</string>
        </dict>
    </dict>
</plist>
