<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_zd_caiqidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,40},{160,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,30}}</string>
                <key>sourceSize</key>
                <string>{160,30}</string>
            </dict>
            <key>img_zd_caiqitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,72},{155,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,26}}</string>
                <key>sourceSize</key>
                <string>{155,26}</string>
            </dict>
            <key>img_zd_shijiantiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,18}}</string>
                <key>sourceSize</key>
                <string>{502,18}</string>
            </dict>
            <key>img_zd_zantin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,79}</string>
            </dict>
            <key>loadingbar_zd_shijiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{500,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,16}}</string>
                <key>sourceSize</key>
                <string>{500,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.pvr.ccz</string>
            <key>size</key>
            <string>{506,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a31148b768f695e95337c17fce45714:1/1$</string>
            <key>textureFileName</key>
            <string>public.pvr.ccz</string>
        </dict>
    </dict>
</plist>
