<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,156},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{150,150}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>direction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{152,152}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,425},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,308},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>quan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,486},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>quan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,539},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{104,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>quan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,645},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>quan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,539},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{104,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>snake_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1054},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>snake_body_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1054},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>snake_body_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1002},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>snake_body_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,950},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>snake_body_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,950},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>snake_body_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,950},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>snake_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1054},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>snake_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,950},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,598},{308,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,45}}</string>
                <key>sourceSize</key>
                <string>{308,45}</string>
            </dict>
            <key>welcome_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>welcome_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{482,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,99}}</string>
                <key>sourceSize</key>
                <string>{482,99}</string>
            </dict>
            <key>welcome_qqbution.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,747},{350,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,97}}</string>
                <key>sourceSize</key>
                <string>{350,97}</string>
            </dict>
            <key>welcome_weibobution.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,598},{350,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,100}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{1797,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fb6960ce7d3119c9dc257eac48ec662:39de1dd6554c055e47daf5d282cfbb92:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
