<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_hyd_ndjchoujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{273,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,109}}</string>
                <key>sourceSize</key>
                <string>{273,109}</string>
            </dict>
            <key>btn_hyd_ndjchoujianghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,2},{273,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,109}}</string>
                <key>sourceSize</key>
                <string>{273,109}</string>
            </dict>
            <key>btn_hyd_xiangxiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,277},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>img_hyd_-choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{348,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,669}}</string>
                <key>sourceSize</key>
                <string>{348,669}</string>
            </dict>
            <key>img_hyd_choujiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,118},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>img_hyd_choujiangjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,674}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,674}}</string>
                <key>sourceSize</key>
                <string>{348,674}</string>
            </dict>
            <key>img_hyd_choujiangjindi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>img_hyd_dengpao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,277},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>img_hyd_dengpao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,277},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>img_hyd_dengpao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,277},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>img_hyd_dingdengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,234},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choujiang.pvr.ccz</string>
            <key>size</key>
            <string>{1687,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89a122b3a07591d08b290bb65498f4b1:1/1$</string>
            <key>textureFileName</key>
            <string>choujiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
